name: Validate Pre-Commit

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - uses: actions/checkout@v3
    - name: Install tfplugindocs
      run: go install hashicorp/terraform-plugin-docs
    - uses: robinraju/release-downloader@v1.7
      with: 
        repository: hashicorp/terraform-plugin-docs
        tag: "v0.13.0"
        fileName: "tfplugindocs_0.13.0_linux_amd64.zip"
        tarBall: false
        zipBall: false
    - name: Unzip
      run: |
        cd $GITHUB_WORKSPACE
        unzip -o tfplugindocs_0.13.0_linux_amd64.zip -d .
    - name: Validate Pre-Commit
      run: make ci-verify 
